<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Web" type="docker-deploy" factoryName="docker-image" server-name="Docker">
    <deployment type="docker-image">
      <settings>
        <option name="imageTag" value="php:8.3.16RC1-apache-bookworm" />
        <option name="containerName" value="php_web" />
        <option name="portBindings">
          <list>
            <DockerPortBindingImpl>
              <option name="containerPort" value="80" />
              <option name="hostPort" value="8080" />
            </DockerPortBindingImpl>
          </list>
        </option>
        <option name="volumeBindings">
          <list>
            <DockerVolumeBindingImpl>
              <option name="containerPath" value="/var/www/html" />
              <option name="hostPath" value="D:\php_test\app\" />
            </DockerVolumeBindingImpl>
            <DockerVolumeBindingImpl>
              <option name="containerPath" value="/etc/apache2/sites-enabled/000-default.conf" />
              <option name="hostPath" value="D:\php_test\conf\apache-config.conf" />
            </DockerVolumeBindingImpl>
          </list>
        </option>
      </settings>
    </deployment>
    <method v="2" />
  </configuration>
</component>